.form-city {
  width: 45%;
}
.container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 55%;
}

.form-city input {
  padding: 12px 10px;
  border: solid 1px var(--quaternary-color);
  border-radius: 5px;
  margin-top: 6px;
}

.form-city ::placeholder {
  color: gray;
  font-style: italic;
}

.form-city label {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1 rem;
  color: var(--quaternary-color);
}
.container-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.form-city h2 {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--quaternary-color);
  margin-top: -20px;
}

.btn-submit button {
  background-color: var(--primary-color);
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container-btn {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.position-city {
  font-style: italic;
}
.position-city h4.longitude {
  margin-top: -20px;
}

.btn-general:hover {
  transform: scale(1.05);
}

.btn-update {
  background: var(--tertiary-color);
}

.btn-delete {
  background: var(--secondary-color);
}

.btn-add {
  background: var(--important-color);
}

.card-container h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

.btn-cancel {
  background: red;
}
